# Dependency directories
node_modules/
jspm_packages/

# Environment variables
*.env

# Minified files
public/stylesheets/*.min.css
public/javascripts/*.min.css

# Public files
public/files/
!public/files/.gitkeep
public/images/
!public/images/.gitkeep