<footer class="grid-foot foot-outer">

  <!-- Contact info, social media -->
  <div class="social-info">
    <a class="btn white" href="mailto:jm@potvin.xyz">jm@potvin.xyz</a>
    <div class="social-nets">
      <%- include("social"); -%>
    </div>
  </div>

  <!-- Disclaimers and friends -->
  <div class="foot">
    <p>
      <strong>
        Copyright <i class="far fa-copyright"></i> Jean-Mathieu Potvin
        (2021). All rights reserved.
      </strong>
      The source code of this website is available on
      <a class="link" href="https://github.com/jeanmathieupotvin/jm.potvin.xyz" target="_blank" rel="noopener">
      Github</a>. Refer to the README file for what you <strong>can</strong>
      or <strong>cannot</strong> reuse. Not all files are available.
      Please use a modern browser such as
      <i class="fab fa-chrome"></i>,
      <i class="fab fa-firefox-browser"></i> or
      <i class="fab fa-edge"></i>.
      Let <i class="fab fa-internet-explorer"></i> die in peace. On old mobile
      phones and computers, pages may not render appropriately. Part of
      <a class="link" href="/" target="_self">potvin.xyz</a>. Version <%= version %>.
    </p>
  </div>
</footer>