<a class="home" href="/">Home</a>
<a class="about" href="/about">About</a>
<a class="cv" href="/cv">Curriculum vitae</a>
<a class="projects" href="/projects">Projects</a>
<a class="blog" href="/blog">Blog</a>