<a href="https://orcid.org/0000-0002-8237-422X" target="_blank" rel="noopener">
  <i class="fab fa-orcid"></i>
</a>
<a href="https://scholar.google.com/citations?user=RdN1qOQAAAAJ%26hl%3dfr" target="_blank" rel="noopener">
  <i class="fas fa-graduation-cap"></i>
</a>
<a href="https://www.linkedin.com/in/jeanmathieupotvin-dev/" target="_blank" rel="noopener">
  <i class="fab fa-linkedin"></i>
</a>
<a href="https://github.com/jeanmathieupotvin/" target="_blank" rel="noopener">
  <i class="fab fa-github"></i>
</a>