<!-- Copyright (c) Jean-Mathieu Potvin (2021). All rights reserved. -->
<!DOCTYPE html>
<html>

<%- include("components/head"); -%>

<body>
  <main class="err-main">
    <h1>Coming soon. May 2021.</h1>
    <br />
    <a class="btn white" href="/" target="_parent">Go back to home page</a>
  </main>
</body>

</html>